.manual-screen {
  padding: 20px;
}

.paper {
  background-color: #fff; /* or any background color */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button button {
  margin-bottom: 20px;
  /* other button styles */
}

h2 {
  font-size: 1.5em;
}

li {
  margin-bottom: 10px;
}

.paper > div {
  text-align: left;
}

.paper p, .paper h2 {
  margin: 0;
}
